div {
		width: 19%;
		height:30%;
	background-color: #FFFF0F;
	position:absolute;

}

#cat1, #cat2 {
	top:0;
}
#cat3, #cat4{
	bottom:0;
}
#cat1{
	left:0;
	background: url("cat1.jpg");
	background-size: contain;
	background-repeat: no-repeat;
	border-radius: 0 0 35% 0;

}
#cat2{
	right:0px;
	bottom:0px;
	border-radius: 0 0 0 35%;
	background: url("cat5.jpg");
	background-size: contain;
	background-repeat: no-repeat;
}
#cat3{
	left:0;

	border-radius: 0 35% 0 0;
	background: url("cat3.jpg");
	background-size: contain;
	background-repeat: no-repeat;
}
#cat4{
	bottom: 0px;
	right:0px;
	border-radius: 35% 0 0 0;
	background: url("cat7.jpg");
	background-size: contain;
	background-repeat: no-repeat;
}



#wrapper{
	height: 98%;
	width: 99%;
	background:url("nyan.png");

}

video {
	margin-left: 15%;
	margin-right: auto;
	margin-top: 10px;
}